langchain
python-dotenv
langchain==0.0.135
langchain-tools
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-huggingface
faiss-cpu
bs4
pypdf
arxiv
pymupdf
wikipedia
lxml

pandas
langchain-text-splitters
langsmith
langchain-experimental